@font-face {
	font-family: 'Lato';
	src: url(../fonts/lato.medium.woff2);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/lato.bold.woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/lato.bold-italic.woff2);
	font-weight: 700;
	font-style: normal;
	font-display: italic;
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/lato.heavy.woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-Bold.woff2);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Montserrat';
	src: url(../fonts/Montserrat-ExtraBold.woff2);
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}