// Кольори
@use "_colors.scss" as *;
// Міксіни
@use "_mixins.scss" as *;
// Типографія
@use "_typo.scss" as *;
// Компоненти
@use "_components.scss" as *;

.hero {
  position: relative;
  aspect-ratio: 1920 / 612;
  padding-block: toRem(40);

  // .hero__container
  &__container {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  // .hero__body
  &__body {
    position: relative;
    z-index: 2;
    flex-basis: 50%;
    @include adaptiveValue("padding-left", 82, 0, 0, 1920, 767);

    @media (width < toEm(768)) {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
  // .hero__label
  &__label {
    @include typo("h2-20");
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 20, 10);
    }
  }
  // .hero__title
  &__title {
    @include adaptiveValue("font-size", 96, 45);
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1.04;
    small {
      font-weight: 700;
      display: block;
    }
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 36, 15);
    }
    &::after {
      content: "";
      @include adaptiveValue("margin-top", 16, 8, 0, 1920, 768);
      width: 40%;
      display: block;
      height: toRem(1);
      background-color: $black1-1;
      @media (width < toEm(768)) {
        margin: toRem(8) auto 0 auto;
      }
    }
  }
  // .hero__text
  &__text {
    @include typo("");
    max-width: toRem(374);
    color: $black1-3;
    @media (width <= toEm(768)) {
      color: $black1-2;
    }
  }
  // .hero__picture
  &__picture {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @media (width < toEm(768)) {
      background-color: $black1-6;
      filter: blur(toRem(1));
    }
  }
  // .hero__imagehero__image
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (width < toEm(768)) {
      object-position: 15%;
      opacity: 0.7;
    }
  }
}

// Baners  --------------------------------------------

.category-banners {
  // .category-banners__container
  &__container {
    display: grid;
    grid-template-columns: 0.243fr 0.513fr 0.243fr;
		@include adaptiveValue("gap", 36, 15);
		@media (width < toEm(768)) {
			overflow: auto;
			grid-template-columns: toRem(290);
			grid-auto-flow: column;
			grid-auto-columns: toRem(290);
		}
  }
  &__item {
  }
}
.category-banner {
  background-color: $black1-9;
  &:nth-child(3n + 2) {
    // aspect-ratio: 678 / 584;
		background-color: #E6EFEA;
		.category-banner__body {
			align-items: center;
			text-align: center;
		}

  }
  &:nth-child(3n + 2),
  &:nth-child(3n) {
    .category-banner__link {
      flex-direction: column-reverse;
			aspect-ratio: 678 / 584;
    }
		.category-banner__text { 
			max-width: toRem(310);
		}
		.category-banner__picture {
			@include adaptiveValue("padding", 32, 15);
		}
  }

  &__link {
		aspect-ratio: 321 / 584;
    // min-height: 100%;
    display: flex;
    flex-direction: column;
		justify-content: space-between;
  }

  // .category-banner__picture
  &__picture {
    text-align: center;
    @include adaptiveValue("padding-inline", 32, 15);
  }
  // .category-banner__image
  &__image {
  }
  // .category-banner__body
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include adaptiveValue("padding", 32, 10);
  }
  // .category-banner__title
  &__title {
    text-transform: uppercase;
    @include typo("h2-20");
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 24, 15);
    }
  }
  // .category-banner__text
  &__text {
    @include typo("");
    color: $black1-3;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 38, 24);
    }
  }
  // .category-banner__more
  &__more {
  }
}
